PORT=4001
DATABASE_URL=postgresql://admin:admin@postgres:5432/games
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672


DB_HOST=host.docker.internal
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME_GAMES=games
NODE_ENV=development

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=crash-game
KEYCLOAK_CLIENT_ID=crash-game-client
KEYCLOAK_CLIENT_SECRET=


# Em segundos
TIMER_INTERVAL_SECONDS=10

# Alternativa em milissegundos
TIMER_INTERVAL_MS=10000

HOUSE_EDGE_PERCENT=1.0

BETTING_DURATION_SECONDS=10

API_WALLETS_URL=http://localhost:4002